.menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    padding-left: 24px;
}

.menu__link {
    text-decoration: none;
    color: black;
    position: relative;
    display: flex;
    align-items: center;

    transition-duration: 0.2s;
}

.menu__link:hover {
    transform: translate(5px, 0)
}

.menu__link--active {
    color: #7d7d81;
    transition-duration: 0.2s;
}

.menu__link--active::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 32px;
    border-radius: 0 4px 4px 0;
    background-color: #40f4d5;

    left: -40px;
}
