.services {
    width: 100vw;
    min-height: 56px;
    align-items: center;
}

.services__title {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 16px;
    background-color: #fafafa;
    border-top: 1px solid #D9FFF5;
}

.services__brands {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0 24px 24px;
}

.services__card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 210px;
    height: 72px;

    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.services__brands_list {
    display: flex;
    gap: 16px;
}

.brand-button {
    color: #FF3E79;
    width: 40px;
    height: 40px;
}

.services__button-expand{
    display: none !important;
}

.swiper-slide {
    animation: 1s show ease;
    transition-duration: 1s;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.services__button-brand {
    border-radius: 20px;
    transition-duration: 0.4s;
}

.services__button-brand:hover {
    background-color: rgb(255 62 121 / 27%);
    box-shadow: 0 0 30px 0 rgb(251, 62, 119);

    transform: scale(1.1);
}

@media screen and (min-width: 768px){
    .swiper-slide {
        width: 224px !important;
    }
    .services__element:nth-child(n+7) {
        display: none;
    }
    .services__title {
        padding-left: 28px;
    }
    .services__button-expand{
        display: flex !important;
    }
}

@media screen and (min-width: 1012px){
    .swiper-slide:nth-child(n - 9) {
        display: flex;
    }
    .services__element:nth-child(n + 9) {
        display: none;
    }
}



@media screen and (min-width: 1120px) {
    .swiper-slide {
        width: 240px !important;
    }
}

@media screen and (min-width: 1253px) {
    .services__element:nth-child(n + 11) {
        display: none;
    }
}

@media screen and (min-width: 1344px) {
    .swiper-slide:nth-child(n - 11) {
        display: flex;
    }

    .services__element:nth-child(n + 11) {
        display: none;
    }
}

@media screen and (min-width: 1608px) {
    .swiper-slide:nth-child(n) {
        display: flex;
    }
    .services__button-expand {
        display: none;
    }
    .services__button-expand{
        display: none !important;
    }
}
