@import url("css/header.css");
@import url("css/main.css");
@import url("css/menu.css");
@import url("css/reset.css");

@import url("fonts/fonts.css");


* {
    box-sizing: border-box;
}

.body-page {
    background-color: #f6f6f6;
    font-family: "TT Lakes", "Arial", serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.base-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 20px;

    cursor: pointer;
    background-color: #FF3E79;
}

.base-button:hover {
    opacity: 0.9;
    -webkit-box-shadow: 0 0 50px 10px #FD3E78;
    box-shadow: 0 0 50px 10px #FD3E78;

    transition: 0.2s;
}